node_modules

.DS_Store
public/.DS_Store

public/bundle.js

src/server/helpers/config.js

src/server/helpers/data/symptomsOriginal.js
src/server/helpers/data/specialtiesOriginal.js
src/server/helpers/data/insurancesOriginal.js