
@import "variables.less";

/* ===============
      Body
================ */
.body-wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  height: 90vh;
}

/* ===============
     SideBar
================ */
.sidebar-wrapper {
  align-items: center;
  background: #919daf;
  display: flex;
  flex-direction: column;
  grid-column-start: 1;
  grid-column-end: 5;
  overflow: scroll;
  width: 100%;
}

/* ===============
     Cards
================ */

.card-wrapper {
  background: @offwhite;
  border-radius: 1rem;
  box-shadow: 5px 10px 10px #535353;
  margin: 20px 0;
  width: 95%;
}

.card-wrapper-clicked {
  background: @offwhite;
  border-radius: 1rem;
  box-shadow: 0px 0px 15px 2px rgb(247, 215, 77);
  margin: 20px 0;
  width: 95%;

  .doctor-upper-section {
    background: lighten(@dkteal, 10%);
    border-radius: 1rem;
    padding: 0 0 1rem;
  }
}

/* Card Upper Section */
.doctor-upper-section {
  background: lighten(@dkteal, 10%);
  border-radius: 1rem;
  box-shadow: 5px 5px 5px #535353;
  padding: 0 0 1rem;
}

.doctor-name-wrapper {
  align-items: center;
  color: @offwhite;
  display: flex;
  justify-content: center;

  .doctor-name {
    font-size: 2.5vw;
    padding: 1rem 0;
  }
  .doctor-title {
    font-size: 2.5vw;
    padding: 1rem 0;
  }
}

.doctor-avatar-and-button {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 1rem 0;

  .doctor-avatar {
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    height: 9vw;
    width: 9vw;
  }

  .doctor-show-more-button {
    background: rgb(182, 24, 79);
    border: none;
    border-radius: 3rem;
    color: @offwhite;
    font-size: 1.4vw;
    padding: 1rem;
  }
}

/* Card Lower Section */
.card-show-more {
  background: @offwhite;
  border-radius: 0 0 1rem 1rem;
  color: @dkgray;
  font-size: 2vw;
  text-align: center;

  .doctor-lower-categories  {
    margin: 0 auto;
    padding: 1rem 0;
    width: 95%;

    .doctor-h2 {
      font-size: 2rem;
    }
    
    .doctor-p {
      font-size: 1.5rem;
      margin: 5px 0;
    }
  }
  .doctor-lower-location-category  {
    border-bottom: 5px dotted rgb(206, 126, 34);
    border-top: 5px dotted rgb(206, 126, 34);
    margin: 0 auto;
    padding: 1rem 0;
    width: 95%;
  }
  .doctor-location-details {
    // background: darken(@offwhite, 5%);
    padding: .5rem;
  }
}

/* ===============
    Insurances
================ */

.insurance-wrapper {
  border: 0.5px solid @blue;
  border-radius: 1rem;
  color: @dkgray;
  margin: 1rem auto;
  width: 90%;

  .insurance-provider {
    // background: lighten(@blue, 50%);
    border-bottom: 0.5px solid @blue;
    border-radius: 1rem 1rem 0 0;
    font-size: 2rem;
    padding: .5rem 0;
  }

  .insurance-plan-flex {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    margin: 0.5rem auto;

    .insurance-plan-name {
      font-size: 1.2rem;
    }
  }
}

/* icon start */
.med-icon {
  fill: rgb(182, 24, 79);
  margin: 0 .5rem;
  height: 2rem;
}
.den-icon {
  fill: @gray;
  margin: 0 .5rem;
  height: 2rem;
}

/* ===============
       Map
================ */
.map-wrapper {
  background: rgb(201, 201, 204);
  grid-column: 5 / 13;
  grid-column-start: 5;
  grid-column-end: 13;
  height: 100%;
  width: 100%;
}

#map-google {
  height: 100%;
}