
.card-wrapper {
  border-radius: 1rem;
  box-shadow: 5px 10px 10px #535353;
  margin: 20px 0;
  width: 80%;
}

/* Card Upper Section */
.doctor-upper-section {
  background: rgb(99,247,243);
  background: linear-gradient(320deg, rgba(99,247,243,0.9) 0%, rgba(99,204,247,0.9) 50%, rgba(52,83,250,0.9) 100%);
  border-radius: 1rem 1rem 0 0;
  box-shadow: 5px 10px 10px #535353;
}

.doctor-name {
  color: whitesmoke;
  font-size: 3vw;
  padding: 1rem;
  text-align: center;
}

.doctor-avatar-and-button {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 1rem;
}

.doctor-avatar {
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 50%;
  height: 7vw;
  width: 7vw;
}

.doctor-show-more-button {
  background: rgb(206, 126, 34);
  border-radius: 0.5rem;
  color: rgb(54, 54, 54);
  font-size: 2vw;
  padding: .5rem;
}

/* Card Lower Section */
.card-show-more {
  background: whitesmoke;
  border-radius: 0 0 1rem 1rem;
  color: rgb(54, 54, 54);
  font-size: 1.5vw;
  text-align: center;
}

.doctor-lower-categories  {
  border-bottom: 1px solid rgb(206, 126, 34);
  padding: 1rem auto;
  width: 90%;
}

.doctor-h2 {
  font-size: 2.5vw;
}

.doctor-p {
  margin: 5px 0;
}

.doctor-insurance-details {
  border: 0.5px solid gray;
  padding: 0.5rem;
}