
.card-wrapper {
  background: whitesmoke;
  border-radius: 1rem;
  box-shadow: 5px 10px 10px #535353;
  margin: 20px 0;
  width: 90%;
}

.card-wrapper-clicked {
  background: whitesmoke;
  border-radius: 1rem;
  box-shadow: 5px 10px 10px #a3da0c;
  margin: 20px 0;
  width: 90%;
}

/* Card Upper Section */
.doctor-upper-section {
  background: #122036;
  border-radius: 1rem;
  box-shadow: 5px 5px 5px #535353;
}

.doctor-name {
  color: whitesmoke;
  font-size: 3vw;
  padding: 1rem;
  text-align: center;
}

.doctor-avatar-and-button {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 1rem;
}

.doctor-avatar {
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  height: 8vw;
  width: 8vw;
}

.doctor-show-more-button {
  background: rgb(182, 24, 79);
  border: none;
  border-radius: 3rem;
  color: whitesmoke;
  font-size: 1.4vw;
  padding: 1rem;
}

/* Card Lower Section */
.card-show-more {
  background: whitesmoke;
  border-radius: 0 0 1rem 1rem;
  color: rgb(54, 54, 54);
  font-size: 2vw;
  text-align: center;
}

.doctor-lower-categories  {
  border-bottom: 1px solid rgb(206, 126, 34);
  margin: 0 auto;
  padding: 1rem 0;
  width: 90%;
}

.doctor-h2 {
  font-size: 2.5vw;
}

.doctor-p {
  margin: 5px 0;
}