
.doctor-insurance-wrapper {
  align-items: center;
  background: white;
  border: 1px solid rgb(41, 41, 41);
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 90%;
}

.doctor-insurance-grid {
  display: grid;
  grid-gap: .5rem;
  grid-template-columns: repeat(4, 1fr);
  height: 90%;
  width: 90%;
}
.doctor-provider {
  font-size: 2rem;
  grid-area: provider;
  place-self: center;
}

/* icon start */
.medical-icon {
  background: red;
  border-radius: 50%;
  height: 1.8vw;
  place-self: center;
  width: 1.8vw;
}
.dental-icon {
  background: grey;
  border-radius: 50%;
  height: 1.8vw;
  place-self: center;
  width: 1.8vw;
}
.icon0 {
  grid-area: icon0;
}
.icon1 {
  grid-area: icon1;
}
.icon2 {
  grid-area: icon2;
}
.icon3 {
  grid-area: icon3;
}
.icon4 {
  grid-area: icon4;
}
.icon5 {
  grid-area: icon5;
}
.icon6 {
  grid-area: icon6;
}
.icon7 {
  grid-area: icon7;
}
/* icon end */

/* plan start */
.doctor-plan { 
  font-size: 1.2rem; 
  place-self: start center;
}
.plan0 {
  grid-area: plan0;
}
.plan1 {
  grid-area: plan1;
}
.plan2 {
  grid-area: plan2;
}
.plan3 {
  grid-area: plan3;
}
.plan4 {
  grid-area: plan4;
}
.plan5 {
  grid-area: plan5;
}
.plan6 {
  grid-area: plan6;
}
.plan7 {
  grid-area: plan7;
}
/* plan end */