
@import "variables.less";

// Upper Section Start
.upper {
  align-items: center;
  background: linear-gradient(@dkteal, @dkblue);
  display: flex;
  height: 80vh;
  justify-content: center;
  width: 100vw;

  .upper-grid {
    display: grid;
    grid-template-columns: repeat(5, 2fr);
    grid-template-rows: repeat(4, 1fr);
    height: 90%;
    width: 100%;

    .upper-grid-ticker {
      align-self: center;
      background: @dkgray;
      display: grid;
      grid-column: 1 / span 5;
      grid-row: 2 / span 1;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, 1fr);
      height: 90%;
      overflow: hidden;
      position: relative;
    }

    .upper-grid-icon-building {
      align-self: center;
      grid-column: 4 / span 2;
      grid-row: 1 / span 3;
      height: 100%;
      justify-self: center;
      width: 100%;
      z-index: 10;
    }
      
    .upper-grid-cta {
      #mixin-button();
      align-self: center;
      background-image: linear-gradient(to left, orangered, @orange);
      grid-column: 1 / span 3;
      grid-row: 3 / span 2;
      justify-self: center;
      padding: .6rem;

      .upper-grid-cta-wrapper {
        align-items: center;
        background: @dkblue;
        border-radius: 2.5rem;
        display: flex;
        padding: .5rem 1rem;
      
      .upper-grid-cta-input {
        #mixin-button();

        align-items: center;
        display: flex;
        font-size: 1.6rem;
        margin-right: .5rem;
        padding: .6rem 0 .6rem 1rem;
        width: 20rem;
      }

        div {
          .upper-grid-svg-search {
            height: 5rem;
            width: 5rem;
            fill: @orange;
            
          }
        }
      }
    }
  }
}

// Middle Section Start
.hero-middle {
  align-items: center;
  background: url('/svg/hero-middle.svg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 70vh;
  justify-content: center;
  margin: -16vh 0 0 0;
  width: 100vw;

  .flex-circles-center {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    height: 70%;

    .circles-wrapper {
      // border: 1px solid maroon;
      height: 100%;
      text-align: center;
      width: 25%;

      .circle-outline {
        align-items: center;
        background: fade(@ltgreen, 15%);
        border: .8vw solid @ltgreen;
        border-radius: 50%;
        display: flex;
        fill: @dkteal;
        height: 20vw;
        justify-content: center;
        margin: 2vw auto;
        width: 20vw;

        .icon-briefcase {
          background: url('/svg/briefcase-medical.svg');
          margin: -2vw 0 0 0;
          height: 70%;
          width: 70%;
        }
        .icon-stethoscope {
          background: url('/svg/stethoscope.svg');
          margin: 1vw 0 0 1vw;
          height: 70%;
          width: 70%;
        }
        .icon-cloud-upload {
          background: url('/svg/cloud-upload-alt.svg');
          margin: -1vw 0 0 0;
          height: 85%;
          width: 85%;
        }

        .circle-icon {
          background-repeat: no-repeat;
          background-size: cover;
          fill: @ltgreen;
          
        }
        
      }

      .circle-text {
        color: @dkteal;
        font-size: 2vw;
        margin-top: 2vw;
        width: 85%;
      }
    }
  }
}

// Lower Section Start
.hero-lower {
  align-items: center;
  background: @gray;
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: space-evenly;

  .lower-title {
    color: @offwhite;
    font-size: 3vw;
  }

  .lower-wrapper {
    align-items: center;
    display: flex;
    justify-content: space-evenly;

    .lower-svg-chart-heart {
      background: url('/svg/chart-heart-blue.svg');
      background-repeat: no-repeat;
      background-size: cover;
      height: 45vw;
      width: 60vw;
    }

    .lower-call-to-action {
      background: @ltgreen;
      color: @offwhite;
      font-size: 3vw;
      padding: 1vw;
    }
  }
}