
@import "variables.less";

.main-wrapper {
  width: 100vw;
}

// =============
// Upper Section 
// =============

.upper {
  background: linear-gradient(@dkteal, @dkblue);
  position: relative;
  height: 70vw;
  width: 100vw;
}

.upper-ticker-wrapper {
  background: @dkgray;
  display: flex;
  flex-direction: column;
  height: 16vw;
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  top: 30%
}

.upper-building-wrapper {
  display: block;
  position: absolute;
  right: -5%;
  top: 10%;
}
      
.upper-search-wrapper {
  #mixin-button();
  background-image: linear-gradient(to left, orangered, @orange);
  position: absolute;
  left: 15%;
  bottom: 4%;
  width: 50vw;
  z-index: 10;
}

.upper-search {
  #mixin-button();
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-evenly;
  padding: 0.5vw 0;
  text-decoration: none;
  width: 100%;

  .icon-search {
    display: inline-block;
    fill: @dkteal;
    height: 10vw;
    stroke: @offwhite;
    stroke-width: 0.2;
    width: 10vw;
  }

  p {
    color: @dkteal;
    display: inline-block;
    font-size: 8vw;
  }
}


// =============
//    Ticker 
// =============


* { box-sizing: border-box; }

@font-face {
  font-family: 'TickerFont';
  src: url('/RideFader.ttf')
}

@duration: 40s;

@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
.fast-ticker {
  top: 0;
}

.slow-ticker {
  bottom: 0;
}

.ticker-wrap {
  background-color: rgba(#000, 0.9); 
  box-sizing: content-box;
  height: 50%;
  left: 0;
  overflow: hidden;
  padding-left: 30%;
  position: absolute;
  right: 0;
  width: 100%;

  .ticker {
    box-sizing: content-box;
    display: inline-block;
    height: 100%;
    padding-right: -70%;
    white-space: nowrap;

    -webkit-animation-iteration-count: infinite; 
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
   -webkit-animation-name: ticker;
           animation-name: ticker;
    -webkit-animation-duration: @duration;
            animation-duration: @duration;

    &__item {
      display: inline-block;
      font-family: 'TickerFont', Courier, monospace;
      font-size: 6vw;  
      padding: 0 2rem;
    }
  }
}


// large desktop
@media screen and (min-width: 1000px) {
  .upper {
    height: 60vw;
  }
  .upper-ticker-wrapper {
    top: 27%;
  }
  .upper-building-wrapper {
    top: 5%;
  }
}
// landscape mode
@media screen and (orientation: portrait) {
  .upper {
    height: 80vw;
  }
  .upper-ticker-wrapper {
    top: 27%;
  }
  .upper-search-wrapper {
    bottom: 2%;
  }
}

// mobile
@media screen and (max-width: 600px) {
  .upper {
    height: 90vw;
  }
  .upper-ticker-wrapper {
    top: 25%;
  }
}


// =============
// Middle Section 
// =============

.hero-middle {
  align-items: center;
  background: url('/svg/hero-middle-lg.svg');
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  justify-content: center;
  height: 85vw;
  margin: -12vw 0 0 0;
  position: relative;
  z-index: 5;
}
.flex-circles-center {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
}
.circles-wrapper {
  text-align: center;
  width: 28vw;
}
.circles-wrapper-briefcase {
  margin-top: 20vw;
}
.circles-wrapper-stethoscope {
  margin-top: -5vw;
}
.circles-wrapper-cloud-upload {
  margin-top: -15vw;
}
.circle-outline {
  align-items: center;
  background: fade(@ltgreen, 15%);
  border: .8vw solid @ltgreen;
  border-radius: 50%;
  display: flex;
  fill: @dkteal;
  height: 28vw;
  justify-content: center;
  margin: 2vw auto;
  width: 28vw;
}
.icon-briefcase {
  background: url('/svg/briefcase-medical.svg');
  margin: -2vw 0 0 0;
  height: 70%;
  width: 70%;
}
.icon-stethoscope {
  background: url('/svg/stethoscope.svg');
  margin: 1vw 0 0 1vw;
  height: 70%;
  width: 70%;
}
.icon-cloud-upload {
  background: url('/svg/cloud-upload-alt.svg');
  margin: -1vw 0 0 0;
  height: 85%;
  width: 85%;
}

.circle-icon {
  background-repeat: no-repeat;
  background-size: cover;
  fill: @ltgreen;
  
}
.circle-text {
  color: @dkteal;
  font-size: 3vw;
  margin: 2vw auto;
  width: 85%;
}

// =============
// Lower Section 
// =============

.hero-lower {
  background: url('/svg/nyc_skyline2.svg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 75vw;
  margin-top: -15vw;
  position: relative;
  width: 100vw;
}
.lower-link {
  #mixin-button();
  bottom: 60%;
  left: 35%;
  position: absolute;
  text-decoration: none;
}

.lower-call-to-action {
  #mixin-button();
  background: @ltgreen;
  border: none;
  color: @dkteal;
  cursor: pointer;
  font-size: 4vw;
  height: 10vw;
  width: 30vw;
}