
@import "variables.less";

.navbar-wrapper {
  align-items: center;
  background: @dkteal;
  display: flex;
  justify-content: space-around;
  height: 10vh;
  width: 100vw;
}


.nav-title {
  color: @offwhite;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-size: 4vw;
  margin: 0;
}

.navbar-search-button {
  align-items: center;
  background: @blue;
  border: none;
  border-radius: 3rem;
  color: @offwhite;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.navbar-search-flex {
  align-items: center;
  display: flex;
  font-size: 1.2rem;
  padding: 0.4rem 1rem;
}

.icon-search {
  fill: @offwhite;
  height: 2rem;
  width: 2rem;
}