
.navbar-wrapper {
  align-items: center;
  background: rgb(16, 16, 36);
  display: flex;
  justify-content: space-around;
  height: 10vh;
  width: 100vw;
}

.nav-title {
  color: white;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-size: 4vw;
  margin: 0;
}