
@import "variables.less";

.navbar-wrapper {
  align-items: center;
  background: @dkteal;
  display: flex;
  justify-content: space-around;
  height: 10vh;
  width: 100vw;

  .link-nav {
    align-items: center;
    color: @offwhite;
    cursor: pointer;
    display: flex;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;

    .nav-title {
      font-size: 4rem;
    }
    .nav-title-icon {
      height: 5rem;
      margin-left: 1rem;
      width: 5rem;
    }
  }

  .link-nav-search {
    #mixin-button();
    background: @blue;
    padding: 0.4rem 1rem;

    .icon-search {
      fill: @offwhite;
      height: 2rem;
      width: 2rem;
    }

    span {
      font-size: 1.6rem;
      margin-left: 0.4rem;
    }
  }
}