
.search-wrapper {
  align-items: center;
  background-color: #000c1f;
  background-image: url("/clean-gray-paper.png");
  display: flex;
  justify-content: center;
  height: 90vh;
  width: 100vw;
}

.search-form {
  align-items: center;
  background: rgb(195, 215, 223);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 80vh;
  justify-content: center;
}

.search-apply-button {
  align-items: center;
  background: rgb(248, 0, 87);
  border: none;
  border-radius: 3rem;
  color: whitesmoke;
  cursor: pointer;
  display: flex;
  font-size: 1.5rem;
  justify-content: center;
  padding: 0.5rem;
}