
.sidebar-wrapper {
  align-items: center;
  background: #008a6e;
  background-image: url("/clean-gray-paper.png");
  display: flex;
  flex-direction: column;
  grid-column: 1 / 5;
  overflow: scroll;
  width: 100%;
}