
// Colors
@blue: #12b3ef;
@dkblue: #045dbf;
@ltgreen: #a3c708;
@gray: #96999c;
@dkgray: #222121;
@dkteal: #34405f;
@offwhite: #f9f9f9;
@orange: rgb(250, 147, 12);

// Buttons
@buttonRadius: 3vw;

// Responsive
@sizes: {
  large: 1280px;
  med: 980px;
  sm: 750px;
  xs: 500px;
};

// Mixins
#mixin-button {
  border: none;
  border-radius: 3vw;
  cursor: pointer;
}